@model IEnumerable<WebApplication_GestionArticulos.Models.Categoria>

@{
    ViewData["Title"] = "Lista de Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-4">
        <h3>Lista de categorias</h3>
    </div>
    <div class="col-3">
        <a asp-action="Crear" class="btn btn-primary form-control">Crear Categoria</a>
    </div>
</div>


@if (Model.Count() > 0)
{
    <table class="table table-striped border">
        <thead>
            <tr>
                <th>Nombre de Categoria</th>
                <th>Estado</th>
                <th>Fecha de creacion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacion)
                </td>
                <td>
                    <a class="btn btn-primary text-white" asp-action="Editar" asp-route-id="@item.Categoria_Id">Editar</a>
                    <a class="btn btn-danger text-white" asp-action="Borrar" asp-route-id="@item.Categoria_Id" 
                    onclick="return confirm('Segruo que quieres borrar la categoria?')">Borrar</a>
                </td>
            </tr>
}
        </tbody>
    </table>
}
else
{
    <p>No hay categorias</p>
}


